<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand"> POS</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/menu-admin">Menu
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ordered-admin">Đơn đặt
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="/account-admin">Tài khoản
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="nav-item nav-item--login" id="login-text">
                <a class="nav-link" href="/login" ><i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập
                    <span class="sr-only">(current)</span></a>
            </span>
        </div>
    </nav>
</div>

<div class="account-body">
    <div class="add-acc">
        <button type="button" class="admin-acc">Thêm tài khoản</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">Tên tài khoản</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Ngày tạo tài khoản</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>hien.minh</td>
                    <td>0123456789</td>
                    <td>15/11/2021</td>
                    <td>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>

                </tbody>
            </table>
            </div>
        </div>
    </div>

  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm tài khoản cho nhân viên</h5>
        </div>
        <div class="modal-body">
            <div class="modal__description">
                <form action="" class="modal__input">
                <label for="">Tên</label>
                <input type="text">
                <label for="">Tên tài khoản</label>
                <input type="text">
                <label for="">Mật khẩu</label>
                <input type="password">
                <label for="">Số điện thoại</label>
                <input type="tel">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Xác nhận</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>

    <script src="./js/admin/account/account.js"></script>
</div>

