<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand"><img src="/img/administrator.png" alt=""></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu-admin">Menu
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ordered-admin">Đơn đặt
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account-admin">Tài khoản
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="nav-item nav-item--login" id="login-text">
                <a class="nav-link" href="/login" ><i class="fas fa-sign-in-alt mr-2"></i> Đăng xuất
                    <span class="sr-only">(current)</span></a>
            </span>
        </div>
    </nav>
</div

<div class="ordered-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Thời gian mua hàng</th>
                    <th scope="col">Hình thức thanh toán</th>
                    <th scope="col">Tổng hóa đơn</th>
                    <th scope="col">Chi tiết</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>15/11/2021</td>
                    <td>Tiền mặt</td>
                    <td>100.000</td>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div class="modal-container admin-modal" >
        <div class="modal__box">
        <div class="modal__header">
            <div class="modal__header-name">CHI TIẾT ĐƠN HÀNG</div>
            <i class="fas fa-times close__modal-icon"></i>
        </div>
        <div class="modal__body scroll_table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Tên món</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Tiền</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                </tr>
                                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                </tr>
                                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                </tr>
                                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                </tr>
                                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                </tr>
                                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                </tr>
                                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>
                </tr>
                                <tr>
                    <td>Bùi Lương Vinh Hiển</td>
                    <td>1</td>
                    <td>20.000</td>
                </tr>

                </tbody>
            </table>            
        </div>

    </div>
    <script src="./js/admin/ordered/ordered.js"></script>
</div>

    

