<link rel="stylesheet" href="/stylesheets/login/style-login.css">

<body id="forgot-confirm-body">
    <div class="bubbles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <div class="container container-login">
        <div class="row row-login">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin card-confirmotp flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-login-body">
                        <div class="card-title text-center">Xác nhận mã OTP</div>
                        <form class="form-signin" id="form-4" method="GET" action="/login">
                            <div class="form-label-group">
                                <label for="otpcode" class="form-label">Mã OTP</label>
                                <input id="otpcode" name="otpcode" type="text" placeholder="Nhập mã OTP của bạn"
                                    class="form-control">
                                <input id="pass" name="password" type="hidden" value = {{password}} >
                                <input id="phone" name="phone" type="hidden" value = {{phone}} >
                                <!-- <label for="inputEmail">Email address</label> -->
                                <span class="form-message"></span>
                            </div>
                            <button class="form-submit btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">XÁC NHẬN</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //document.addEventListener('DOMContentLoaded', function () {
        //    // Mong muốn của chúng ta
        //    Validator({
        //        form: '#form-4',
        //        formGroupSelector: '.form-label-group',
        //        errorSelector: '.form-message',
        //        rules: [
        //            Validator.isRequired('#otpcode'),
        //            Validator.isOtp('#otpcode', 6),
        //        ],
        //        onSubmit: true,
//
        //    });
        //});

        $(".form-signin").submit(function (e) {
            e.preventDefault();

            // Write code to check if student id is existed!
            // Camel case
            var phoneNum = $("input[name='phone']").val();
            var new_pass = $("input[name='password']").val();
            var otpcode = $("input[name='otpcode']").val();
            var form = $(this);

            // AJAX
            $.post("/forgotpassword/checkOTP", { phone: phoneNum, new_pass: new_pass,otp: otpcode}, function (data, status) {
                if (data.status == "FAIL") {
                    alert("OTP không hợp lệ!");
                }
                else {
                    form.unbind("submit").submit();
                }
            });
        });
    </script>


</body>