<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        {{!-- <link rel="stylesheet" href="style.css"> --}}
        {{!-- <link rel="stylesheet" href="/public/stylesheets/login/style-login.css"> --}}
        <link rel="stylesheet" href="/stylesheets/login/style-login.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                        </div>
                        <div class="card-login-body">
                            <h5 class="card-title text-center">Lấy lại mật khẩu</h5>
                            <form class="form-signin" id="form-7" method="GET" action="/forgotpassword/confirmotp">
                                <div class="form-label-group">
                                    <label for="phone" class="form-label">Số điện thoại</label>
                                    <input id="phone" name="phone" type="text" placeholder="Số điện thoại của bạn" class="form-control">
                                    <!-- <label for="inputEmail">Email address</label> -->
                                    <span class="form-message"></span>
                                </div>

                                <div class="form-label-group">
                                    <label for="password" class="form-label">Mật khẩu mới</label>
                                    <!-- <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu của bạn" required> -->
                                    <div class="input-pass">
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu của bạn">
                                        <span class="show-btn-eye">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                    </div>
                                    <!-- <label for="inputPassword">Password</label> -->
                                    <span class="form-message"></span>
                                </div>

                                <div class="form-label-group">
                                    <label for="password_confirmation" class="form-label">Nhập lại mật khẩu mới</label>
                                    <!-- <input type="password" id="password_confirmation" name="password_confirmation" class="form-control" placeholder="Nhập lại mật khẩu" required> -->

                                    <div class="input-pass">
                                        <input type="password" id="password_confirmation" name="password_confirmation" class="form-control" placeholder="Nhập lại mật khẩu">
                                        <span class="show-btn-eye">
                                            <i class="fas fa-eye  eye-confirm"></i>
                                        </span>
                                    </div>

                                    <!-- <label for="inputConfirmPassword">Confirm password</label> -->
                                    <span class="form-message"></span>
                                </div>

                                <button class="form-submit btn btn-lg btn-primary btn-block text-uppercase" type="submit">XÁC NHẬN</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Mong muốn của chúng ta
                Validator({
                    form: '#form-7',
                    formGroupSelector: '.form-label-group',
                    errorSelector: '.form-message',
                    rules: [
                        Validator.isRequired('#phone'),
                        Validator.isPhone('#phone'),
                        Validator.minLength('#password', 8),
                        Validator.isRequired('#password_confirmation'),
                        Validator.isConfirmed('#password_confirmation', function() {
                            return document.querySelector('#form-7 #password').value;
                        }, 'Mật khẩu nhập lại không chính xác')
                    ],
                    onSubmit: true,

                });
            });
        </script>

    <footer>
        <!-- Created with <i class="fa fa-heart"></i> by -->
        <!-- <a target="_blank" href="https://florin-pop.com">Florin Pop</a> - Read how I created this and how you can join the challenge -->
        <!-- <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>. -->
    </footer>
    <script src="/js/login.js"></script>
    {{!-- <script src="/index.js"></script> --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>