<div class="footer-dark">
    <footer>
        <div class="container" id="footer-container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>POS SYSTEM</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item text">
                    <h3>Thông tin</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help & Support</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Thông tin liên hệ</h3>
                    <ul>
                        <li><i class="fas fa-map-marker-alt mr-2"></i>Tòa H6, Trường Đại học Bách Khoa ĐHQG-HCM, phường Đông Hòa, thành phố Dĩ An, tỉnh Bình Dương</li>
                        <li><i class="fas fa-phone-alt mr-2"></i>0849129999</li>
                        <li><i class="fas fa-envelope mr-2"></i>dinhkout_group@hcmut.edu.vn</li>
                    </ul>
                </div>
                <div class="col item social"><a href="#"><i class="fab fa-facebook fa-md"></i></a><a href="#"><i
                            class="fab fa-instagram fa-md"></i></a><a href="#"><i
                            class="fab fa-twitter fa-md"></i></a><a href="#"><i
                            class="fab fa-youtube fa-md"></i></a></div>
            </div>
            <p class="copyright">Made by Dinhkout Group HCMUT © 2021  </p>
        </div>
    </footer>
</div>