<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand"> POS</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Menu
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datban">Đặt bàn
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đánh giá
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="nav-item" id="login-text">
                <a class="nav-link" href="#" ><i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập
                    <span class="sr-only">(current)</span></a>
            </span>
        </div>
    </nav>
</div>