<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand"> <img src="/img/cooking.png" alt=""></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Menu
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datban">Đặt bàn
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đánh giá
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="nav-item nav-item--login" id="login-text">
                {{#if login}}
                <a class="nav-link" href="/logout" ><i class="fas fa-sign-in-alt mr-2"></i> Đăng xuất
                    <span class="sr-only">(current)</span></a>
                {{else}}
                <a class="nav-link" href="/login" ><i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập
                    <span class="sr-only">(current)</span></a>
                {{/if}}
            </span>
        </div>
    </nav>
</div>