<link rel="stylesheet" href="/stylesheets/login/style-login.css">

<body id="login-body">
    <div id="toast"></div>
    <div class="bubbles">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
    </div>
    {{!-- <div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div> --}}
    <div class="container container-login">
        <div class="row row-login">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-login-body">
                        <h5 class="card-title text-center">Đăng nhập</h5>
                        <form class="form-signin" id="form-2" method="POST" action="/payment">
                            <div class="form-label-group">
                                <label for="phone" class="form-label">Số điện thoại</label>
                               <input id="phone" name="phone" type="text" placeholder="Số điện thoại của bạn"
                                    pattern="(?=.*((09|03|07|08|05)+([0-9]{8})\b)).{10,}" class="form-control" required>
                                <!-- <label for="inputEmail">Email address</label> -->
                                <span class="form-message" id="form-message-phone"></span>
                            </div>

                            <div class="form-label-group form-label-group-password">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <div class="input-pass">
                                    <input type="password" id="password" name="password" class="form-control"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Mật khẩu của bạn" required>
                                    <span class="show-btn-eye">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                </div>

                                <!-- <label for="inputPassword">Password</label> -->
                                <span class="form-message" id="form-message-password"></span>
                            </div>

                            <button class="form-submit btn btn-lg btn-primary btn-block"
                                type="submit">Đăng nhập</button>
                            <!-- <a class="d-block text-center mt-2 small" href="#">Đăng ký</a> -->
                            <div class="form-move">
                                <span>
                                    <a href="/register" class="form-move-link">Đăng ký</a>
                                </span>
                                <span>
                                    <a href="/forgotpassword" class="form-move-link">Quên mật khẩu</a>
                                </span>
                            </div>
                            <!-- <hr class="my-4"> -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src="/js/login.js"></script>
    <script>
        var myInputPhone = document.getElementById("phone");
        var myInputPassword = document.getElementById("password");
        
        var phoneRequired = document.getElementById("form-message-phone");
        var phoneValid = document.querySelector('.form-label-group-phone');
        //console.log(phoneRequired);
        // When the user clicks outside of the password field, hide the message box
        myInputPhone.oninput = function() {
            phoneRequired.innerText = "";
            phoneValid.classList.remove('invalid');
        }
        // When the user clicks outside of the password field, hide the message box
        myInputPhone.onblur = function() {
            var regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
            if(myInputPhone.value.length > 0) {
                if(myInputPhone.value.match(regex)) {
                    phoneRequired.innerText = "";
                }
                else {
                    phoneRequired.innerText = "Trường này phải là số điện thoại của bạn";
                    phoneValid.classList.add('invalid');
                }
            }
            else {
                phoneRequired.innerText = "Vui lòng nhập số điện thoại của bạn";
                phoneValid.classList.add('invalid');
            }
        }
        
        var passwordRequired = document.getElementById("form-message-password");
        var passwordValid = document.querySelector('.form-label-group-password');
        //console.log(passwordRequired);
        // When the user clicks outside of the password field, hide the message box
        myInputPassword.oninput = function() {
            passwordRequired.innerText = "";
            passwordValid.classList.remove('invalid');
           
        }
        // When the user clicks outside of the password field, hide the message box
        myInputPassword.onblur = function() {
            var lowerCaseLetters = /[a-z]/g;
            var upperCaseLetters = /[A-Z]/g;
            var isnumbers = /[0-9]/g;
            
            if(myInputPassword.value.length > 0) {
                if(myInputPassword.value.match(lowerCaseLetters) && myInputPassword.value.match(isnumbers) 
                && myInputPassword.value.match(upperCaseLetters) && (myInputPassword.value.length > 7) ) {
                    passwordRequired.innerText = "";
                }
                else {
                    passwordRequired.innerText = "Mật khẩu phải tối thiểu 8 kí tự gồm chữ hoa, chữ thường và số";
                    passwordValid.classList.add('invalid');
                }
            }
            else {
                passwordRequired.innerText = "Vui lòng nhập mật khẩu của bạn";
                return passwordValid.classList.add('invalid');
                ;
            }
        }
        $(".form-signin").submit(function(e) {
            e.preventDefault();
            // Write code to check if student id is existed!
            // Camel case
            var phoneNum = $("input[name='phone']").val();
            var password = $("input[name='password']").val();
            var form = $(this);
            // AJAX
            $.post("/login/checkPhone", { phone: phoneNum, password: password }, function(data, status) {
                if (data.status == "NOT_FOUND") {
                    showLoginErrorToast();
                    //alert("Số điện thoại hoặc mật khẩu không đúng!");
                } else {
                    setTimeout(function(){
                        form.unbind("submit").submit();
                    }, 500);
                    showLoginSuccessToast();
                }
            });
        });
    </script>
</body>