<link rel="stylesheet" href="/stylesheets/login/style-login.css">

<body id="login-body">
    <div class="bubbles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <div class="container container-login">
        <div class="row row-login">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-login-body">
                        <h5 class="card-title text-center">Đăng nhập</h5>
                        <form class="form-signin" id="form-2" method="GET" action="/">
                            <div class="form-label-group">
                                <label for="phone" class="form-label">Số điện thoại</label>
                                <input id="phone" name="phone" type="text" placeholder="Số điện thoại của bạn"
                                    class="form-control">
                                <!-- <label for="inputEmail">Email address</label> -->
                                <span class="form-message"></span>
                            </div>

                            <div class="form-label-group">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <div class="input-pass">
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Mật khẩu của bạn">
                                    <span class="show-btn-eye">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                </div>

                                <!-- <label for="inputPassword">Password</label> -->
                                <span class="form-message"></span>
                            </div>

                            <button class="form-submit btn btn-lg btn-primary btn-block"
                                type="submit">Đăng nhập</button>
                            <!-- <a class="d-block text-center mt-2 small" href="#">Đăng ký</a> -->
                            <div class="form-move">
                                <span>
                                    <a href="/register" class="form-move-link">Đăng ký</a>
                                </span>
                                <span>
                                    <a href="/forgotpassword" class="form-move-link">Quên mật khẩu</a>
                                </span>
                            </div>
                            <!-- <hr class="my-4"> -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Mong muốn của chúng ta
            Validator({
                form: '#form-2',
                formGroupSelector: '.form-label-group',
                errorSelector: '.form-message',
                rules: [
                    Validator.isRequired('#phone'),
                    Validator.isPhone('#phone'),
                    Validator.minLength('#password', 8),
                ],
                onSubmit: true,

            });
        });
    </script>


</body>