.main-block {
    width: 100%;
    margin-top: var(--header-height);
    position: relative;
}

.payment-body {
    width: calc(65% - var(--margin-left));
    background-color: #ffffff;
    font-size: 16px;
    margin-left: 3%;
    margin-top: 80px;
}

#payment-title {
    font-size: 32px;
    font-weight: 650;
    color: #4d4d4d;
}

.sub_total_row {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.total_row {
    font-size: 18px;
    font-weight: 650;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.btn-primary {
    background: #ee4d2d;
    border-style: none;
    font-weight: 650;
    font-size: 18px;
    border-radius: 10px;
}

.btn-block {
    width: 40%;
    margin: 0 auto;
}

.card-footer {
    background: none;
    border-style: none;
}

#tab-list {
    margin: auto;
}

#cash_button {
    padding-top: 15px;
}

.num {
    font-weight: 500;
}

#Header_payment {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 25px 0 20px 0;
}

.cart-container-payment {
    margin-right: 11%;
    height: 650px;
    position: absolute;
    right: 0;
    top: 70px;
    width: var(--submenu-width);
    border-radius: 20px;
    border: 2px solid #e6e2f5;
    box-shadow: 0 10px 10px #1687d933;
}

#cart-payment {
    width: 100%;
    height: 60%;
}

.text-muted {
    line-height: 22px;
}

@media screen and (max-width: 1024px) {
    .cart-container-payment {
        margin-right: 5%;
        width: 30%;
    }
    .payment-body {
        margin-left: -5px;
        width: 70%;
    }
}

@media screen and (min-height: 981px) {
    .payment-body {
        margin-top: 130px;
    }
}

@media screen and (min-height: 1170px) {
    .payment-body {
        margin-top: 180px;
    }
}

@media screen and (max-width: 981px) {
    .cart-container-payment {
        display: none;
    }
    .payment-body {
        margin: auto;
        width: 85%;
    }
}

@media screen and (max-width: 526px) {
    .btn-block {
        width: 0%;
        margin: 0 auto;
    }
}

@media screen and (max-height: 800px) {
    .cart-container-payment {
        height: 60%;
    }
}