.container {
    padding: 2rem 0rem;
}
  
h4 {
    margin: 2rem 0rem 1rem;
}
  
td, th {
    vertical-align: center;
}

.admin-acc {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    margin-top: 100px;
    margin-left: 150px;
  }



  .btn-primary {
    background-color: #ee4d2d !important;
  }
  .btn-primary:hover{
    cursor: pointer !important;
    opacity: 0.8 !important;
  }

.admin-acc:hover{
  cursor: pointer !important;
  opacity: 0.8 !important;
}