#Header {
    margin: auto;
    width: 90%;
    height: 12%;
    display: flex;
    align-items: center;
    padding-top: 2em;
}

#Heading {
    padding-left: 1em;
    font-size: 26px;
    font-weight: 700;
    color: #2f3841;
    flex: 1;
}

#Action {
    flex: 1;
    text-align: right;
    font-size: 17px;
    font-weight: 700;
    color: #e44c4c;
    cursor: pointer;
}

#Money {
    font-size: 15px;
    text-align: right;
    font-weight: 600;
    margin: 0 20px;
}

.cart-container {
    padding-right: 0.5em;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: var(--header-height);
    width: var(--submenu-width);
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    /* overflow-y: scroll; */
}

.cart {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.cart::-webkit-scrollbar {
    display: none;
}


/* ::-webkit-scrollbar {
  width: 20px;
} */

::-webkit-scrollbar-button {
    background-color: black;
}

#img-row {
    padding: 0 0 0 10px;
}

#name-button-row {
    padding: 0 0 0 10px;
}

#remove-price {
    padding: 0 10px 0 5px;
}

.image-box {
    padding-left: 0.75em;
    padding: 0 0 0 5px;
}

.shopping-box {
    width: 15%;
    text-align: left;
}

.title {
    font-size: 18px;
    font-weight: 700;
    color: #202020;
    padding-top: 0.75em;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 15%;
    text-align: center;
}

.btn1 {
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 6px;
    font-size: 18px;
    border: 1px solid var(--text-color);
    font-weight: 800;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn2 {
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 6px;
    font-size: 18px;
    border: 1px solid var(--text-color);
    font-weight: 800;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 1.75px;
}

.count {
    padding-left: 1.25em;
    padding-right: 1.25em;
    font-size: 20px;
    font-weight: 650;
    color: #202020;
    padding: 0 15px;
}

.prices {
    height: 100%;
    text-align: center;
    margin-right: 5%;
}

.amount {
    font-size: 18px;
    font-weight: 650;
    color: #e44c4c;
    padding-top: 0.75em;
    padding-right: 2em;
}

.remove {
    cursor: pointer;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

#cart-row {
    padding: 10px 0;
}

#title-row {
    display: flex;
    align-content: center;
}

#button-row {
    display: flex;
    justify-content: left;
}

hr {
    width: 90%;
    margin-right: 5%;
    border-width: 1px;
}

.total {
    width: 100%;
    display: flex;
    padding-left: 1em;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 18px;
    font-weight: 650;
    color: #909090;
}

.total-amount {
    font-size: 24px;
    font-weight: 700;
    padding-right: 1em;
    color: #e44c4c;
}

.button-border {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}

.button {
    width: 45%;
    height: 40px;
    border: none;
    background: #ee4d2d;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 650;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}