.Header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    padding-top: 2em;
}

.Heading {
    padding-top: 0.5em;
    padding-left: 0.25em;
    font-size: 26px;
    font-weight: 700;
    color: #2f3841;
}

.Action {
    margin-top: 5.5em;
    flex: 1 120px;
    text-align: right;
    font-size: 17px;
    font-weight: 700;
    color: #e44c4c;
    cursor: pointer;
    margin-right: 0.75em;
}

.cart-container {
    padding-right: 0.5em;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: var(--header-height);
    width: var(--submenu-width);
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    /* overflow-y: scroll; */
}

.cart {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.cart::-webkit-scrollbar {
    display: none;
}


/* ::-webkit-scrollbar {
  width: 20px;
} */

::-webkit-scrollbar-button {
    background-color: black;
}

.Cart-Items {
    padding-top: 1.5em;
    margin: auto;
    display: flex;
    align-items: center;
}

.shopping-box {
    width: 15%;
    text-align: left;
}

.title {
    font-size: 18px;
    font-weight: 700;
    color: #202020;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn1 {
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 6px;
    font-size: 18px;
    border: 1px solid var(--text-color);
    font-weight: 800;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn2 {
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 6px;
    font-size: 18px;
    border: 1px solid var(--text-color);
    font-weight: 800;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 1.75px;
}

.count {
    padding-left: 1.25em;
    padding-right: 1.25em;
    font-size: 20px;
    font-weight: 650;
    color: #202020;
}

.prices {
    height: 100%;
    text-align: center;
}

.amount {
    font-size: 20px;
    font-weight: 650;
    color: #e44c4c;
    padding-top: 1em;
    padding-right: 1em;
}

.remove {
    cursor: pointer;
    padding-right: 1em;
}

@media all and (min-width: 50px) and (max-width: 120px) {
    .cart-column-grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 50px 50px;
        grid-template-areas: "p p n n n n n g g" "p p c c c c c g g";
    }
}

.grid-col-1 {
    margin: auto;
    grid-area: p;
    padding-left: 0.5em;
}

.grid-col-2 {
    grid-area: n;
    padding-left: 1em;
    display: flex;
    flex: wrap;
    align-items: center;
    padding-top: 2em;
}

.grid-col-3 {
    grid-area: c;
    display: flex;
    padding-left: 1em;
}

.grid-col-4 {
    grid-area: g;
    padding-top: 1em;
}

hr {
    width: 90%;
    margin-right: 5%;
    border-width: 1px;
}

.checkout {}

.total {
    width: 100%;
    display: flex;
    padding-left: 1em;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 18px;
    font-weight: 650;
    color: #909090;
}

.total-amount {
    font-size: 24px;
    font-weight: 700;
    padding-right: 1em;
    color: #e44c4c;
}

.button-border {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}

.button {
    width: 45%;
    height: 40px;
    border: none;
    background: #ee4d2d;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 650;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}