.modal-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal--active {
    display: flex;
}

.modal__box {
    margin: auto;
    background-color: var(--white-color);
    width: 600px;
    display: flex;
    border-radius: 20px;
    display: block;
    max-width: 90%;
}


/* ===================================== */

.modal__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: rgba(150, 150, 150, 0.25);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal__header-name {
    left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #4d4d4d;
}

.modal__body {
    display: flex;
}

.close__modal-icon {
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
}


/* ===================================== */

.modal__image {
    flex: 0.3;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 0;
}

.modal__image img {
    width: 100%;
}

.modal__description {
    padding: 20px;
    flex: 0.7;
}

.food-base {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.food-base__field {
    padding-top: 10px;
    padding-bottom: 20px;
}

.food-base__field--name {
    font-size: 22px;
    font-weight: 650;
    color: #1a1a1a;
}

.food-base__field--content {
    font-size: 17px;
    font-weight: 500;
    padding-top: 0.75em;
}

.food-base__field--price {
    font-size: 20px;
    font-weight: 500;
    padding-top: 0.75em;
    color: #ee4d2d;
    padding-right: 10px;
    font-weight: 600;
    text-align: right;
}

.food-base__field--price_name {
    font-size: 18px;
    font-weight: 550;
    color: #1a1a1a;
    text-align: right;
    padding-right: 10px;
}

.food-quantity {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.food-quantity__field {
    font-size: 16px;
    font-weight: 650;
}

.food-quantity__content {
    display: flex;
}

.food-quantity__button {
    background-color: var(--white-color);
    border-radius: 6px;
    padding: 0px 10px;
    min-width: 35px;
    font-size: 18px;
    border: 1px solid var(--text-color);
    font-weight: 800;
    line-height: 21px;
    /* padding: 0;
    border: 0;
    background: none; */
}

.food-quantity__content--body {
    padding: 5px 15px;
    font-size: 18px;
}

.food-detail {
    padding: 20px 0;
}

.food-detail__field {
    display: flex;
    padding: 5px 0;
}

.food-detail__field--name {
    width: 120px;
    font-size: 16px;
    font-weight: 650;
    color: #1a1a1a;
}

.food-detail__field--content {
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
}

.modal__button {
    margin-top: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 500;
}

.modal__button:hover,
.food-quantity__button:hover {
    opacity: 0.8;
    cursor: pointer;
}