.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  z-index: 200;
  display: none;
}

.modal__box {
  margin: auto;
  margin-top: 10%;
  background-color: var(--white-color);
  width: 700px;
  display: flex;
  border-radius: 20px;
}

.modal__image {
  flex: 0.3;
  padding: 20px;
}

.modal__image img {
  width: 100%;
}

.modal-description {
  flex: 0.7;
  padding: 20px;
}

.modal__base-info {
  border-bottom: 1px solid #333;
}

.modal__name {
}

.modal__quantity {
}

.modal__detail-info {
}

.modal__detail-field {
}

.modal__field-name {
}

.modal__field-info {
}
