.bg-light {
  background-color: var(--primary-color) !important;
}

.navbar-brand {
  padding: 0 25px;
  color: var(--white-color) !important;
  font-weight: 700;
  font-size: 25px;
}

.navbar {
  padding: 2px 16px 0;
}

.nav-item {
  padding: 4px 20px;
  font-weight: 600;
}

.nav-item:hover .nav-link {
  color: var(--text-color) !important;
}

.nav-link {
  color: var(--white-color) !important;
}

.active {
  position: relative;
  background-color: var(--white-color);
  color: var(--text-color) !important;
  border-radius: 10px 10px 0 0;
}

.active .nav-link,
.active:hover .nav-link {
  color: var(--text-color) !important;
}

.navbar-toggler {
  margin: 4px;
}

@media (max-width: 992px) {
  .active {
    position: relative;
    background-color: #ffffff;
    color: #333333 !important;
    border-radius: 10px 10px;
  }
}
